:root {
  --main-text: #212121;
  --link-focus: #2196f3;
  --logo-footer: #ffffff;
  --signatures: #757575;
  --contact-footer: rgba(117, 117, 117, 0.6);
  --baground: #2f303a;
  --buttons-background: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-black: #000000;
}

body {
  font-family: var(--main-font);
  color: var(--main-text);
  max-width: 1600px;
}

.logo {
  font-family: var(--logo-font);
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.172;
  text-decoration: none;
}
.logo-color {
  color: var(--link-focus);
}
.active-blue:focus,
.active-blue:hover,
.active-blue:active {
  color: var(--link-focus);
}
.link {
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text);
}
.buttons:focus,
.buttons:hover,
.buttons:active {
  color: var(--logo-footer);
  background-color: var(--link-focus);
  border: var(--link-focus);
}
.buttons {
  font-family: var(--main-font);
  color: var(main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--buttons-background);
}
.main-title {
  color: var(--logo-footer);
  background-color: var(--baground);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}
.order {
  font-family: var(--main-font);
  color: var(--logo-footer);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--link-focus);
  border: 1px solid var(--link-focus);
}
.title {
  font-size: 36px;
  line-height: 1.172;
}
.rules {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
}
.explain-rules {
  color: var(--signatures);
  font-size: 14px;
  line-height: 1.72;
}
.our-teamat {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
}
.product {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.specialization {
  color: var(--signatures);
  font-size: 16px;
  line-height: 1.172;
}
.types {
  color: var(--signatures);
  font-size: 16px;
  line-height: 1.88;
}

.our-zone {
  color: var(--logo-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  background-color: var(--baground);
}
.logo-footer {
  font-family: var(--logo-font);
  color: var(--logo-footer);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.172;
  text-decoration: none;
}
.contact {
  color: var(--signatures);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
}

.contact-footer {
  color: var(--contact-footer);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.navigation {
  display: flex;
  width: 1600px;
  height: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
  background-color: var(--logo-footer);
  margin-top: 9px;
}
.logo {
  display: block;
  width: 145px;
  height: 31px;
  margin: 15px 93px 34px 215px;
}
.navigation-list {
  display: flex;
  width: 254px;
  height: 16px;
  padding: 0px;
  margin: 23px 371px 41px 0px;
}
.navigation-list > .navigation-link:not(:last-child) {
  margin-right: 46px;
}
.contact-header {
  display: flex;
  margin: 23px 227px 41px 0px;
  padding-left: 0px;
}
.contact {
  display: block;
  height: 16px;
}
.contact-header > .contact-list:nth-child(1) {
  padding-right: 50px;
}
.motto {
  display: flex;
  width: 1600px;
  height: auto;
  border: 1px;
  border-color: var(--logo-black);
  background-color: var(--baground);
  flex-direction: column;
}
.main-title {
  display: block;
  width: 696px;
  height: 120px;
  margin: 200px 452px 0px 452px;
  text-align: center;
}
.order {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 41px 10px 42px;
  margin: 30px 700px 200px;
}
.rules-list {
  display: flex;
  justify-content: center;
  /* width: 1170px; */
  height: auto;
  padding: 0px;
  margin: 0px;
}
.rules-title {
  display: block;
  width: 270;
}
.rules-list > .rules-title:not(:last-child) {
  margin-right: 30px;
}
.rules {
  display: block;
  margin: 0px;
}
.explain-rules {
  margin-top: 10px;
  margin-bottom: 2px;
}
.our-work {
  height: 386px;
  padding-top: 0px;
  padding-bottom: 94;
}
.title-work {
  display: block;
  margin: 0px;
  padding-bottom: 50px;
  text-align: center;
}
.our-work > img:nth-child(3) {
  padding-right: 30px;
  padding-left: 30px;
}
.our-team-list {
  box-sizing: border-box;
  width: 1600px;
  height: auto;
  background-color: var(--buttons-background);
}

.title-team {
  display: block;
  width: 210px;
  height: 42px;
  padding: 0px 695px 50px;
  margin: 0px;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.teamat {
  display: block;
  align-items: center;
  width: 270px;
  height: 368px;
  background-color: var(--logo-footer);
}
.team-list > li:not(:last-child) {
  margin-right: 30px;
}
.our-teamat {
  display: block;
  width: 72px;
  height: 19px;
  margin: 30px 99px 10px;
}
.spec-teamat {
  display: block;
  text-align: center;
  padding: 0px;
}
.address {
  box-sizing: border-box;
  width: 1600px;
  height: auto;
  background-color: var(--baground);
}
.our-zone {
  box-sizing: border-box;
  width: 246px;
  padding: 60px 215px;
}
.logo-footer {
  display: block;
  padding-bottom: 20px;
}
.contact-footer {
  display: block;
  width: 231px;
  height: 21px;
  padding-top: 9px;
}
.legal-addres {
  display: block;
  width: 246px;
  height: 21px;
  margin: 0px;
}
